.iconDetails {
    margin-left: 2%;
    float: left;
    height: 350px;
    width: 400px;
}

.iconfooter {
    margin-left: 2%;
    float: left;
    height: 0px;
    width: 90px;
}

.containerBox {
    width: 100%;
    height: 400px;
    padding: 10px;
    margin-left: 5px;
    background-color: #303030;
    color: white;
    font-family: "Lato";
}

.controls {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-left: 5px;
    background-color: rgb(43, 44, 157);
    color: white;
    font-family: "Lato";
}

.heading {
    display: inline;
    margin-left: 200px;
    padding: 4px;
}

.icons {
    display: inline;
    margin-right: 200px;
    padding-top: 800px;
    margin-top: 500px;
    color: white;
    font-family: "Lato";
}

.left-view {
    padding: 25px;
    margin-top: 18px
}

.songs {
    border: 1px solid black;
    margin-left: 55px;
    padding-right: 10px;
}

.song-name {
    width: 200px;
    height: 50px;
    display: inline;
}


.song-name,
.singer-name {
    display: inline;
}

.singer-name {
    width: 110px;
    height: 50px;
    padding-bottom: 150px;
}

.control-button-main {
    margin-top: 10px;
    margin-left: 800px;
}
